/*
  Credits: 
  CSS by:
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
 */

:root {
  --accent-dark: #d08159;
  --accent: oklch(66.6% 0.179 58.318);
  --black: oklch(0.1 0 0);
  --gray-dark: oklch(0.25 0 0);
  --gray-light: oklch(0.85 0 0);
  --white: oklch(1 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-dark: #d08159;
    --accent: oklch(66.6% 0.179 58.318);
    --black: oklch(1 0 0);
    --gray-dark: oklch(0.85 0 0);
    --gray-light: oklch(0.3 0 0);
    --white: oklch(0.15 0 0);
  }
}

html.dark {
  --accent-dark: #d08159;
  --accent: oklch(66.6% 0.179 58.318);
  --black: oklch(1 0 0);
  --gray-dark: oklch(0.85 0 0);
  --gray-light: oklch(0.3 0 0);
  --white: oklch(0.15 0 0);
}

html.light {
  --accent-dark: #d08159;
  --accent: oklch(66.6% 0.179 58.318);
  --black: oklch(0.1 0 0);
  --gray-dark: oklch(0.25 0 0);
  --gray-light: oklch(0.85 0 0);
  --white: oklch(1 0 0);
}

body {
  font-family: "Manrope Variable", sans-serif;
  font-display: swap;
  margin: 0;
  padding: 0;
  text-align: left;
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--black);
  font-size: 20px;
  line-height: 1.7;
  /* reduce opacity to reduce contrast, ig? */
  opacity: 0.9;
  /* dot grid background */
  background-color: var(--white);
  /* background-image: */
  /*   radial-gradient(var(--gray-light) 0.5px, transparent 0.5px), */
  /*   radial-gradient(var(--gray-light) 0.5px, var(--white) 0.5px); */
  /* background-size: 10px 10px; */
  /* background-position: */
  /*   0 0, */
  /*   5px 5px; */
}

a {
  color: var(--black);
  transition: color 0.2s;
}

a:hover {
  color: var(--accent);
  transition: none;
}

p {
  margin-bottom: 1em;
}

.prose p {
  margin-bottom: 2em;
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

main {
  min-height: 60vh;
  width: 60rem;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3rem 1rem;
}

pre {
  padding: 1rem;
}

code {
  font-family: "JetBrains Mono Variable", sans-serif;
  font-size: 1rem;
}

@media (max-width: 720px) {
  body {
    font-size: 18px;
  }

  main {
    padding: 2rem;
    width: auto;
    min-height: 60vh;
  }
}
