---
import Layout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
---
<Layout>
    <main>
      <h1>Avijya Shrestha</h1>
    </main>
</Layout>
<style>
main {
  height: 90vh;
}

</style>
