---
import Layout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import blackoutImage from "../assets/blackout.png";
import sunsetsImage from "../assets/sunsets.png";
---

<Layout>
  <section>
    <h1>Projects</h1>
    <ul class="projects">
      <ProjectCard
        title="blackout"
        description="An extension to make blackout poetry on the interwebs. Select text you want to black out and create poetry."
        image={blackoutImage}
        github="https://github.com/up-the-hill/blackout"
        links={{
          Firefox:
            "https://addons.mozilla.org/en-US/firefox/addon/blackout-poetry/",
          "Chrome/Brave":
            "https://chromewebstore.google.com/detail/ffcdlpjolgglihiapammdhbdogcgjbki/",
        }}
        tags={["web extension", "poetry"]}
      />
      <ProjectCard
        title="sunsets on a map"
        description="Post your sunsets on a publicly available map and see sunsets around the world."
        image={sunsetsImage}
        github="https://github.com/up-the-hill/sunsets-on-a-map"
        links={{
          Live: "https://sunsets-on-a-map.com/",
        }}
        tags={["postgresql", "react", "AWS"]}
      />
    </ul>
  </section>
</Layout>

<style>
  ul {
    padding: 0;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }

  @media (max-width: 720px) {
    .projects {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
</style>
