---
import { getCollection } from "astro:content";
import PostCard from "./PostCard.astro";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<section>
  <h1>Posts</h1>
  <ul class="posts">
    {posts.map((post) => <PostCard postData={post} />)}
  </ul>
</section>

<style>
  /* remove default styling */
  h1 {
    margin: 0 0 1rem 0;
  }
  ul {
    padding: 0;
  }

  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }

  @media (max-width: 720px) {
    .posts {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  /* section { */
  /*   margin-top: 2rem; */
  /* } */
</style>
