---
---
<select id="themeSelector">
  <option value="" selected="">System</option>
  <option value="light">Light</option>
  <option value="dark">Dark</option>
</select>

<script is:inline>
  const theme = (() => {
    const localStorageTheme = localStorage?.getItem("theme") ?? '';
    if (['dark', 'light'].includes(localStorageTheme)) {
      return localStorageTheme;
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark';
    }
      return 'light';
  })();

  if (theme === 'light') {
    document.documentElement.classList.remove('dark');
  } else {
    document.documentElement.classList.add('dark');
  }

  window.localStorage.setItem('theme', theme);

const handleThemeChange = (event) => {
  const selectedTheme = event.target.value;
  const element = document.documentElement;

  if (selectedTheme === "dark") {
    element.classList.remove("light");
    element.classList.add("dark");
  } else if (selectedTheme == "light"){
    element.classList.remove("dark");
    element.classList.add("light");
  } else {
    element.classList.remove("light");
    element.classList.remove("dark");
  }

  localStorage.setItem("theme", selectedTheme);
}

document.getElementById("themeSelector")?.addEventListener("change", handleThemeChange);
</script>
